<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liang Ruifeng</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div class="header">
        <a class="home" href="#">LiangRuifeng's Website</a>
        <ul>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Projects</a>
            </li>
            <li>
                <a href="#">Journal</a>
            </li>
        </ul>
    </div>
    <div class="main">
        <div class="welcome">
            <span class="first-line">Hey guys, I'm LiangRuifeng,</span>
            <span class="second-line">Welcome to My Website!</span>
        </div>

        <div class="blog-carousel">
            <div id="blog-carousel-images">
                <img src="../static/image/index1.jpeg" alt="1">
                <img src="../static/image/index2.jpeg" alt="2">
                <img src="../static/image/index3.jpeg" alt="3">
                <img src="../static/image/index4.jpeg" alt="4">
                <img src="../static/image/index5.jpeg" alt="5">
            </div>
            <div id="blog-carousel-buttons">
                <span index="1"></span>
                <span index="2"></span>
                <span index="3"></span>
                <span index="4"></span>
                <span index="5"></span>
            </div>
        </div>

        <div class="projects-carousel">
            <div id="projects-carousel-images">
                <img src="../static/image/index1.jpeg" alt="1">
                <img src="../static/image/index2.jpeg" alt="2">
                <img src="../static/image/index3.jpeg" alt="3">
                <img src="../static/image/index4.jpeg" alt="4">
                <img src="../static/image/index5.jpeg" alt="5">
            </div>
        </div>
        <div class="footer">
            © 2018 MatrixLiang@163.com. All rights reserved.
        </div>
    </div>
</body>

</html>